<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.dao.OneColumnMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feng.entity.OneColumn">
        <id column="id" property="id" />
        <result column="club_name" property="clubName" />
        <result column="club_summary" property="clubSummary" />
        <result column="introduce" property="introduce" />
        <result column="notice" property="notice" />
        <result column="show" property="show" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, club_name, club_summary, introduce, notice, show
    </sql>

</mapper>
