<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.dao.PassageMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feng.entity.Passage">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="publisher" property="publisher" />
        <result column="source" property="source" />
        <result column="passage_type_id" property="passageTypeId" />
        <result column="club_id" property="clubId" />
        <result column="publish_time" property="publishTime" />
        <result column="click_num" property="clickNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, publisher, source, passage_type_id, club_id, publish_time, click_num
    </sql>

</mapper>
